<%- include('../partials/header') %>

<section class="card">
  <h1>管理ダッシュボード</h1>
  <p>登録メニュー</p>
  <ul>
    <li><a href="/admin/people/new">人物を追加する</a></li>
    <li><a href="/admin/books/new">本を追加する</a></li>
    <li><a href="/admin/influences/new">影響関係を追加する</a></li>
  </ul>
</section>

<%- include('../partials/footer') %>
