PORT=3000
MONGODB_URI=mongodb+srv://89bouzu19970307yuchan_db_user:eVKhsZRDCYy91bSt@influence-book-cluster.h7jurxt.mongodb.net/?appName=influence-book-cluster
SESSION_SECRET=replace-with-random-secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=replace-with-strong-password
